.container {
  text-align: center;
  --background: center url('../images/fon2.jpg');
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.grid-title {
  font-size: 40px;
  margin-bottom: 20px;
  color: #E8DD0C;
}

.card-header {
  color: #E8DD0C;
  font-size: 32px;
  font-weight: bold;
}

.card-content {
  color: #E8DD0C;
  font-size: 16px;
  line-height: 1.5;
}

.card {
  width: 700px;
  height: 500px;
  background-color: rgba(0,0,0,0);
  /* box-shadow: rgb(232 221 12 / 20%) 0px 3px 1px -2px, rgb(232 221 12 / 14%) 0px 2px 2px 0px, rgb(232 221 12 / 12%) 0px 1px 5px 0px; */
  box-shadow: none;
  text-align: left;
}

.card-gow {
  background-image: url('https://images3.alphacoders.com/843/thumb-1920-843016.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-tlou {
  background-image: url('https://3dnews.ru/assets/external/illustrations/2020/06/16/1013495/01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-got {
  background-image: url('https://wallpaperaccess.com/full/1519396.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.subscribe-toolbar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: rgb(0, 0, 0, 0);
}

.item {
  width: 25%;
  --background: rgb(0, 0, 0, 0);  
  --border: none;
}

.subscribe-item {
  width: 50%;
  border-radius: 20px;
  background-color: #ffffff;
}

.subscribe-button {
  font-weight: bold;
  --color: #E8DD0C;
  --border-radius: 20px;
}

.footer {
  margin-top: 50px;
  color: #E8DD0C;
  text-align: left;
  font-size: 14px;
}
